name: Lint and Auto-fix

on:
  pull_request:
    branches:
      - develop
      - main
  push:
    branches:
      - main
      - develop

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 22.18.0

      - run: npm ci

      - name: Run Prettier check
        id: lint
        run: npm run lint

      - name: Auto-fix lint
        if: failure()
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm run lint:fix
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"          git add .
          git commit -m "style: update codebase to be lint compliant" || echo "Nothing to commit"
          git push https://x-access-token:${GH_TOKEN}@github.com/${{ github.repository }} HEAD:${{ github.head_ref }}
